BasedOnStyle: LLVM

IndentWidth: 4
ContinuationIndentWidth: 4
UseTab: Never

BreakBeforeBraces: Allman

DerivePointerAlignment: false
PointerAlignment: Right

IndentCaseLabels: false
IndentGotoLabels: false

AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false

ColumnLimit: 80
